@charset "utf-8";

body {
  color: rgba(80, 80, 80, 0.95);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: -0.02em;
  font-family: 'Lato', sans-serif;
}

h1 {
  text-align: center;
  font-weight: bold;
}

h4 {
  font-weight: 200;
  margin: 30px 0;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.container-fluid {
  background-color: #2d2d2d;
}

.badge {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  transform: rotate(-45deg) translate3d(-63px, -26px, 0);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.pages-links .btn {
  padding-top: 20px;
  padding-bottom: 20px;
}

hr {
  margin-top: 60px;
  margin-bottom: 60px;
}